@model IEnumerable<AppAspNetCore.Models.Meal>

@{
    ViewData["Title"] = "Meal Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Meal Management</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Meal Lists</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 180px;" asp-items="ViewBag.Category" id="categoryId" name="categoryId">
                            <option value="0" disabled selected>Choose Category</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 180px;" asp-items="ViewBag.Status" id="isActive" name="isActive">
                            <option value="" disabled selected>Status</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a 
                    class="btn btn-primary"
                    asp-controller="AdminMeals"
                    asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Add New Meal</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Discount</th>
                        <th>Meal Category</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><img class="img-fluid rounded" src="~/adminassets/images/others/thumb-9.jpg" style="max-width: 60px" alt=""></td>
                                <td>@item.MealId</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <h6 class="m-b-0 m-l-10">@item.Name</h6>
                                    </div>
                                </td>
                                <td>@item.Quantity</td>
                                <td>$ @item.Price</td>
                                <td>
                                    @if (item.Status ?? true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>In Stock</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div clas s="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Out Stock</div>
                                        </div>
                                    }
                                </td>
                                <td>@item.Discount %</td>
                                <td>@item.MealCategory?.Name</td>
                                <td>
                                    <a 
                                        class="btn btn-primary" 
                                        asp-area="Admin" 
                                        asp-controller="AdminMeals" 
                                        asp-action="Details"
                                        asp-route-id="@item.MealId">View</a>
                                    <a 
                                        class="btn btn-secondary"
                                        asp-area="Admin" 
                                        asp-controller="AdminMeals" 
                                        asp-action="Edit"
                                        asp-route-id="@item.MealId">Edit</a>
                                    <a 
                                        class="btn btn-success"
                                        asp-area="Admin" 
                                        asp-controller="AdminMeals" 
                                        asp-action="Delete"
                                        asp-route-id="@item.MealId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
